body {
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: left;
}

h1 {
  margin: 0;
}

nav {
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  background-color: #65c8cf;
}

#carousel-container {
  width: 60%;
  position: relative;
}

.carousel {
  position: relative;
  width: 100%;
  height: auto;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

#body-text-container {
  width: 40%;
}

#body-text {
  margin: 0;
}

#start-button {
  border-radius: 25px;
  border: none;
  padding: 10px 20px;
  background-color: #333333;
  color: #f1f1f1;
  font-size: 36px;
}
